# Required for setup.py
Cython

# use specific branch of suntime
https://github.com/Aerocene/suntime/archive/use_python_datetime.zip

# Documentation
sphinx
docutils
python-dateutil

# Ourselves
-e .
